*{
  font-family: monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}


img {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.camaroboxparent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px;
  gap: 1px;
  margin-top: 55px;
}

.camaroboxparent a {
  text-decoration: none;
}


.camarobox {
  border: solid black;
  background-color: black;
  height: 400px;
  color: white;
  font-size: 100px;
  margin: 10px;
  padding-top: 5px;

}

.camaro-background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.camaro-overlay {
  position: fixed;
  width: 100%;
  height: 30vh;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 1.5s ease-in;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.camaro-year {
  color: white;
  bottom: 28vh;
  position: absolute;
  font-size: 18vh;
  text-shadow: 10px 2px 7px rgba(0, 0, 0, 0.7);
  font-family: Futura, sans-serif;
  padding-left: 5px;
  -webkit-text-stroke: 3px black;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.camaro-desc {
  color: white;
  max-width: 45%;
  bottom: 9vh;
  font-size: 3vh;
  padding-top: 15px;
  padding-left: 15px;
  display: inline;
  opacity: 0;
  transition: opacity 1.5s ease-in;
  font-family: Futura, sans-serif;
}

.camaro-trims {
  color: white;
  font-size: 3vh;
  padding-left: 700px;
  position: absolute;
  display: inline;
  top: 15px;
  opacity: 0;
  transition: opacity 1.5s ease-in;
  font-family: Futura, sans-serif;
}

.camaro-hp {
  color: white;
  font-size: 3vh;
  padding-left: 700px;
  position: absolute;
  display: inline;
  top: 50px;
  opacity: 0;
  transition: opacity 1.5s ease-in;
  font-family: Futura, sans-serif;
}

.camaro-zero {
  color: white;
  font-size: 3vh;
  padding-left: 700px;
  position: absolute;
  display: inline;
  top: 85px;
  opacity: 0;
  transition: opacity 1.5s ease-in;
  font-family: Futura, sans-serif;
}

.camaro-msrp {
  color: white;
  font-size: 3vh;
  padding-left: 700px;
  position: absolute;
  display: inline;
  top: 120px;
  opacity: 0;
  transition: opacity 1.5s ease-in;
  font-family: Futura, sans-serif;
}

.camaro-forum {
  color: white;
  font-size: 3vh;
  padding-left: 700px;
  position: absolute;
  display: inline;
  top: 155px;
  opacity: 0;
  transition: opacity 1.5s ease-in;
  font-family: Futura, sans-serif;
}

.camaro-forum a {
  font-size: 2.4vh;
  color: white;
  font-family: Futura, sans-serif;

}